  <!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#page-top">True Blood</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>

                <li class="page-scroll">
                    <a href="#/doar">Doar</a>
                </li>

                <li class="page-scroll">
                    <a href="#/solicitar">Solicitar</a>
                </li>

                <li class="page-scroll">
                    <a href="#/sobre">Sobre</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header class="visible-md visible-lg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="~/content/img/profile.png" alt="">
                <div class="intro-text">
                    <span class="name">True Blood</span>
                    <hr class="star-light">
                    <span class="skills">Doe Sangue, Doe Vida</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- doar Section -->
<section id="doar">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Escolha uma pessoa e doe :)</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <form name="buscarPaciente" id="buscaForm" novalidate>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label for="NomeBusca"> Nome do paciente </label>
                        <input type="text" class="form-control" placeholder="Informe o nome do paciente" id="busca-nome"></input>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>

                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label for="busca-hospital"> Email </label>
                        <input type="text" class="form-control" placeholder="Informe o hospital" id="busca-hospital"></input>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>

                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group floating-label-form-group-with-value controls">
                        <label for="tpSanguineo"> Tipo sanguíneo </label>
                        <select class="form-control">
                            <option ng-repeat="tiposangue in tipossangue" ng-value="{{tiposangue.id}}">{{tiposangue.name}}</option>
                        </select>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div id="success"></div>
                <div class="row">
                    <div class="form-group col-xs-12">
                        <button type="submit" class="btn btn-default" ng-click="buscar()">buscar</button>
                    </div>
                </div>
            </form>

                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Paciente</th>
                            <th>Hospital</th>
                            <th>Tipo Sanguineo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="paciente in pacientes">
                            <td>{{paciente.id}}</td>
                            <td>{{paciente.nome}}</td>
                            <td>{{paciente.hospital}}</td>
                            <td>{{paciente.tiposangue}}</td>
                            <td>
                                <button type="button" class="btn btn-default" aria-label="Left Align" data-toggle="modal" data-target="#myModal" ng-click="doar(paciente)">
                                    <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>


                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                            </div>
                            <div class="modal-body">
                                Você deseja doar sangue para o paciente {{pacienteSelecionado.nome}}?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="confirmarDoacao(pacienteSelecionado)">Sim</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>

<!-- solicitar Section -->
<section id="solicitar" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Peca ajuda para alguem ! </h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                <form name="solicitarDoacao" id="solicitarForm" novalidate>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="cidade"> Cidade </label>
                            <input type="text" class="form-control" placeholder="Cidade" id="cidade" ng-model="paciente.cidade" required data-validation-required-message="Por favor entre com o nome da cidade.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="hospital"> Hospital </label>
                            <input type="text" id="hospital" ng-model="paciente.hospital" class="form-control" placeholder="Hospital" id="hospital" required data-validation-required-message="Hospital">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="pessoa"> Pessoa </label>
                            <input type="text" id="pessoa" ng-model="paciente.pessoa" class="form-control" placeholder="Nome do paciente" id="nomePaciente" required data-validation-required-message="Nome do paciente">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group floating-label-form-group-with-value controls">
                            <label for="tpSanguineo"> Tipo sanguíneo </label>
                            <select id="pessoa" class="form-control" ng-model="paciente.tpSanguineo" required="true">
                                <option ng-repeat="tiposangue in tipossangue" ng-value="{{tiposangue.id}}">{{tiposangue.name}}</option>
                            </select>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="qtBolsas"> Quantidade de bolsas </label>
                            <input type="number" id="qtBolsas" ng-model="paciente.qtBolsas" placeholder="Quantidade de bolsas" required data-validation-required-message="Quantidade obrigatoria."></input>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="email"> Email </label>
                            <input type="email" id="email" ng-model="paciente.email" placeholder="E-mail" required data-validation-required-message="Email obrigatorio."></input>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <input type="submit" class="btn btn-success btn-lg" value="Pedir Ajuda" ng-click="solicitacao.salvar">
                        </div>
                    </div>
                </form>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            Cadastro realizado com sucesso!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- About Section -->
<section class="success" id="sobre">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Sobre o projeto</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.</p>
            </div>
            <div class="col-lg-4">
                <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> Download Theme
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>Location</h3>
                    <p>3481 Melrose Place<br>Beverly Hills, CA 90210</p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Around the Web</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>About Freelancer</h3>
                    <p>Freelance is a free to use, open source Bootstrap theme created by <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; Your Website 2014
                </div>
            </div>
        </div>
    </div>
</footer>